<div style="text-align: center;">
  <% if params[:mode] == 'all' %> <%# 全表示モード %>
    <p>
      <a href="/animations" id="pagemode" class="btn btn-primary" data-remote="true">折り畳む</a>
    </p>
  <% else %> <%# 個別表示モード %>
    <p>
      <%= link_to_previous_page(@animations,'前へ',:remote => true, :class => 'btn btn-primary') %>
      <%= link_to_next_page(@animations,'次へ',:remote => true, :class => 'btn btn-primary') %>
    </p>
    <p>
      <a href="/animations?mode=all" id="allmode" class="btn btn-primary" data-remote="true">全表示</a>
    </p>
  <% end %>
</div>