<% @current_loc = "Wakotsu Reservation" %>
<% @current_path = "/rs/" %>

<% content_for :title do %>
  Wakotsu Reservation
<% end %>

<div class="hero-unit">
	<h2>編集</h2>

	<%= render 'form' %>
</div>