<% @current_loc = "Wakotsu Animation" %>
<% @current_path = "/an/" %>
<% session[:current_path] = @current_path %>

<% content_for :title do %>
  Wakotsu Animation
<% end %>

<article>

<div class="jumbotron">
  <h1>Wakotsu Animation</h1>
  <%= image_tag("ds4.jpg", :alt => "Wakotsu DS", :width => 1020) %><br>
  <br>
  <div class="panel panel-success">
    <div class="panel-heading"><h2 class="panel-title">Welcome to Wakotsu Animation</h2></div>
    <div class="panel-body">
      <p>Wakotsu Discussion Spaceで見たいAnimationのSuggestシステムです.</p>
      <p>Twitterでのログインにより登録、予約システムへの移行が行えます.</p>
      <hr>
      <h2>What's New</h2>
      <p>ドメインを変更しました.</p>
      <% if signed_in? %>
        <p><a href="new" class="btn btn-primary btn-large">登録する &raquo;</a></p>
      <% else %>
        <p><a href="/auth/twitter" class="btn btn-primary btn-large">Sign in with Twitter</a></p>
      <% end %>
    </div>
  </div>
</div>


<div id="animations">
  <%= render :partial => "animations" %>
</div>
<div id="pager">
  <%= render :partial => 'pager' %>
</div>
</article>
