<% @current_loc = "Wakotsu Animation" %>
<% @current_path = "/an/" %>

<% content_for :title do %>
  Wakotsu Animation
<% end %>

<div class="jumbotron" style="line-height: 1;">
	<h1>New Animation</h1>
	<br>

	<%= render 'form' %>
</div>