<% @current_loc = "Wakotsu Laboratory" %>
<% @current_path = "/" %>

<% content_for :title do %>
  About Me | Wakotsu Laboratory
<% end %>

			<div class="jumbotron">
				<h1><%= image_tag("woodstoc.png", :alt => "こんにちは") %>About Me</h1>
				<div class="col-sm-12">
					<div class="panel panel-success">
						<div class="panel-heading"><h2 class="panel-title">Plofile</h2></div>
						<div class="panel-body">
							<p>鈴木 雄大(Yuta Suzuki)</p>
							<p>専修大学経済学部3年次. Web系経済学部生. 茨城県北部出身->川崎市在住.</p>
							<p>某GWからネットを続けて11年程. Web方面に興味があります.</p>
							<p>スマートフォン大好き. スマートじゃない使い方をします.<br>
							=> メイン端末:iPhone5S(au)/XPERIA SX/GALAXY Note2</p>
							<p>勉強中 => Ruby, Ruby on Rails, PHP, Objective-C, JavaScript, Java</p>
							<p>他にはアニメやゲームを少し.</p>
							<hr>
							<a href="http://github.com/YutaSZK" target="_blank"><button type="button" class="btn btn-lg btn-warning">Github</button></a>
							<a href="http://www.amazon.co.jp/registry/wishlist/3MJDA7W8W7EE8" target="_blank"><button type="button" class="btn btn-lg btn-success">WishList</button></a>
							<a href="https://www.facebook.com/yutaszk" target="_blank"><button type="button" class="btn btn-lg btn-primary">Facebook</button></a>
							<a href="http://wakolab.jp/press/" target="_blank"><button type="button" class="btn btn-lg btn-info">WordPress</button></a>

						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-8">
					<div class="panel panel-success" style="height: 400px;">
						<div class="panel-heading"><h2 class="panel-title">趣味</h2></div>
						<div class="panel-body">
							<p>音楽 => メタル(とくに北欧メロデス、ケルティックメタル辺り),ゲーム音楽,アニソンをよく聴きます. 最近はDJ YOSHITAKAの曲が好きです.</p>
							<p>ゲーム => SF系やファンタジー系.設定が濃いものが好き. クロノクロスやスターオーシャン等. Nintendoも結構やります.</p>
							<p>ラノベ => ラブコメ系.話がしっかりしていて言葉選びが読んでいて心地よいものが好き. やはり俺の青春ラブコメは間違っている。,とらドラ！等. アクセルワールドやSAO等のSF系も好きです.</p>
							<p>小説 => 昔はよく伊坂幸太郎を読んでいました. 最近はあまり読めていません.</p>
							<p>漫画,アニメ => 最近ではニセコイが好きです. 他はリボーンや進撃の巨人,ULTRAMAN等. わりと幅広く.</p>
							<p>スマートフォン => Androidの方が好き. 一番好きなデザインはHTC J butterfly.</p>
							<p>PC => デスクトップマシン(Windows7)とMacbookを使用. Ubuntuに早く慣れたい.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="panel panel-success" style="height :400px;">
						<div class="panel-heading"><h2 class="panel-title">スキル</h2></div>
						<div class="panel-body">
							<p>Java:14ヶ月</p>
							<p>Ruby:8ヶ月 => Web開発経験あり</p>
							<p>PHP:4ヶ月 => インターン経験あり(2週間)</p>
							<p>Objective-C:1ヶ月目</p>
							<p>js,css,jQuery:ググりながら実装できる程度</p>
							<br>
							<p>日商簿記2級 (2011/12)</p>
							<p>応用情報技術者試験合格 (2013/12)</p>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="panel panel-success" style="height: 400px;">
						<div class="panel-heading"><h2 class="panel-title">近況</h2></div>
						<div class="panel-body">
							<p>Ruby on Railsで色々開発しています.最近では<a href="http://shukoji.com/" target="_blank">就活乞食ドットコム</a>を友人とハッカソンで開発.</p>
							<p><a href="http://wikiparison.jp/">Wikiparison</a>チームに正式に加入. 主にサーバサイドの開発と雑務.</p>
							<p><a href="http://tanpopo.ws/">tanpopo.ws</a>に所属. 開発したり教えてもらったりLTをしたり. この間は秋葉原でArduinoしました.</p>
							<p>foursquareを利用した<a href="http://www.ustream.tv/recorded/41259864">Aina(Ustream 1:00:50〜)</a>をチームで開発しました. <a href="http://yhacks.jp/inter2013/" target="_blank">Inter Hack U 2013</a>最優秀賞受賞. 近日正式リリース予定.</p>
							<p>某有名サービス関連のアプリを開発するべくObjective-Cの勉強に着手しました.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-8">
					<div class="panel panel-success" style="height: 400px;">
						<div class="panel-heading"><h2 class="panel-title">経歴</h2></div>
						<div class="panel-body">
							<p>2012/4:eスポーツ学生連盟(eSPA)加入 => オンラインゲーム(FPS,格闘ゲーム等)をeスポーツ(エレクトロニック・スポーツ)として普及させるため,タイトル企業やデバイスメーカーの協賛の元オフラインイベントの開催等を主に活動. Webページ制作を一部触ったことがきっかけでhtml+cssを学び始める.</p>
							<p>2012/4:電子計算機研究会加入 => 趣味としてのプログラミングに興味を持ち始め,はじめることになった動機.</p>
							<p>2012/10:プログラミング独学着手(Java) => 友人達が使っている言語だったのでJavaをはじめました.</p>
							<p>2013/4:wakolab.jp開設 => ehtml+cssで簡単なホームページとしてWakotsu Laboratoryを開設.</p>
							<p>2013/6:Macbook Air購入 => Macデビューしました. これまでのWindows歴は10年程.</p>
							<p>2013/7:Ruby着手 => 8月にRuby on RailsによるWakotru Reservationの開発.</p>
							<p>2013/11:PHP着手 => インターン事前課題のため. インターンではCode Igniterでの開発を経験.</p>
						</div>
					</div>
				</div>
			</div>
