<% @current_loc = "Wakotsu Discussion Space" %>
<% @current_path = "/ds/" %>
<% session[:current_path] = @current_path %>

<% content_for :title do %>
  Wakotsu Discussion Space
<% end %>

      <div class="jumbotron">
        <h1>Wakotsu Discussion Space</h1>
        <div class="col-sm-12">
          <div class="panel panel-success">
            <div class="panel-heading"><h2 class="panel-title">Welcome to Wakotsu DS</h2></div>
            <div class="panel-body">
              <img src="../images/ds1.jpg" width="100%" alt="Welcome to Wakotsu DS" /><br><br>
              <p>
                ようこそ.Wakotsu Discussion Spaceへ.<br>
                こちらでは,快適な学習環境,そして活発な議論の場を目的とした,Discussion Spaceの案内を行っています.<br></p>
                <hr>
                <h2>What's New</h2>
                <p>Wakotsu ReservationのTwitterでの予約に対応しました.<br>
                <a href="/rs/" class="btn btn-primary btn-large" target="_blank">Wakotsu Reservation &raquo;</a>
              </p>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-success" style="height: 400px;">
            <div class="panel-heading"><h2 class="panel-title">Discussionの場として</h2></div>
            <div class="panel-body">
              <img src="../images/ds2.jpg" width="100%" alt="DS">
              <p>
                Wakotsu Discussion Spaceでは活発なDiscussionを行うべく,用途によってリビングを利用しています.<br>
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="panel panel-success" style="height: 400px;">
            <div class="panel-heading"><h2 class="panel-title">文化的なDiscussion</h2></div>
            <div class="panel-body">
              <img src="../images/ds3.jpg" width="100%" alt="DS">
              <p>
                Wakotsu Discussion Spaceでは,文化的なDiscussionを行うべく,文化作品の上映会や,ボードゲームによる交流が催されています.<br>
                長期休暇中は上映会を開催したいと思っていますので,是非ご連絡ください.<br>
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="panel panel-success" style="height: 400px;">
            <div class="panel-heading"><h2 class="panel-title">活発な開発を</h2></div>
            <div class="panel-body">
              <img src="../images/ds4.jpg" width="100%" alt="DS">
              <p>
                活発な開発のため,効率的なデュアルディスプレイ環境を備えています.<br>
                またメインルームのテーブルでは,4人が同時にMacbookで開発をできるほど広くなっています.<br>
                もちろんwi-fiも利用出来るため,活発な開発が期待されます.<br>
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="panel panel-success" style="height: 400px;">
            <div class="panel-heading"><h2 class="panel-title">十分なエナジーチャージを</h2></div>
            <div class="panel-body">
              <img src="../images/ds5.jpg" width="100%" alt="DS">
              <p>
                開発や議論はエネルギー消費を伴うものです.<br>
                Wakotus Discussion Spaceでは,十分なエネルギーの補給を推奨しています.<br>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-success">
            <div class="panel-heading"><h2 class="panel-title">過去のイベント</h2></div>
            <div class="panel-body">
              <ul>
                <li><a href="coil">電脳コイル上映会</a></li>
                <li>わこつミートソン</li>
                <li>パシフィック・リム上映会</li>
                <li>ボードゲーム会</li>
                <li>わこつハッカソン</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="jumbotron">
        <h1>Reservation</h1>
        <div class="col-sm-12">
          <div class="panel panel-success">
            <div class="panel-heading"><h2 class="panel-title">Make a Reservation</h2></div>
            <div class="panel-body">
              <img src="../images/dr.png" width="100%" alt="Make a Reservation" /><br>
              <p>
                あなたも予約をしてみましょう.<br>
                使い方は簡単,Wakotsu Reservation Systemから,Twitterアカウントでログインするだけ.<br>
                すぐに予約の作成、参加の申請ができます.<br>
                <p><a href="/rs/" target="_blank" class="btn btn-primary btn-large">予約する &raquo;</a></p>
              </p>
            </div>
          </div>
        </div>
      </div>