<% @current_loc = "Wakotsu Laboratory" %>
<% @current_path = "/" %>
<% session[:current_path] = @current_path %>

    <div class="jumbotron">
      <h1>Wakotsu Laboratory<%= image_tag("woodstoc.png", :alt => "こんにちは") %></h1>
      <div class="col-sm-12">
        <div class="panel panel-success">
          <div class="panel-heading"><h2 class="panel-title">Welcome to WakoLab.</h2></div>
          <div class="panel-body">
            はじめまして.Wakotsu Laboratoryのホームページです.<br>
            <hr>
            <h2>What's New</h2>
            <p>わこらぼ一周年を迎えました.</p>
            <p>wakolab.jpドメインにかえってきました.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-sm-12">
        <div class="panel panel-success">
          <div class="panel-heading"><h2 class="panel-title">Hatena</h2></div>
          <div class="panel-body">
            <p>主に技術的に詰まった内容,解決した内容,興味深い内容,または最近の出来事について書いていきます.</p>
            <p><s>wordpressは死にました.</s></p>
            <p><a class="btn" href="http://yutaszk23.hatenadiary.jp/" target="_blank">View details &raquo;</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="panel panel-success" style="height: 200px;">
          <div class="panel-heading"><h2 class="panel-title">About</h2></div>
          <div class="panel-body">
            <p>Wakotsu Laboratoryとは,私Yuta SUZUKI自身や趣味,成果物についての紹介のページです.</p>
            <p>作成したサービスの紹介場所,置き場所,または私自身のポートフォリオの一部としての利用を目的としています.</p>
            <p>
              <a class="btn" href="/me">About Me &raquo;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="panel panel-success" style="height: 200px;">
          <div class="panel-heading"><h2 class="panel-title">Member</h2></div>
          <div class="panel-body">
            <p>Wakotsu LaboratoryはYuta SUZUKIにより創設され,管理されています.</p>
            <p>主に創設期に,Masaki YOKOI,Motoharu ONOから協力を得ています.</p>
            <p>現在Wakotsu Laboratoryは様々な用途で皆様にご利用頂いております.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="panel panel-success" style="height: 200px;">
          <div class="panel-heading"><h2 class="panel-title">Vision</h2></div>
          <div class="panel-body">
            <ul>
              <li>WakotsuTheaterの開設および上映</li>
              <li>ハッカソンの定期的開催</li>
              <li><a href="http://tanpopo.ws" target="_blank">tanpopo.wsでの活動</a></li>
              <li>新サービス、アプリの開発</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="panel panel-success" style="height: 200px;">
          <div class="panel-heading"><h2 class="panel-title">Contact</h2></div>
          <div class="panel-body">
            <p>WakoLabはTwitterのみによって連絡を受け付けています.<br>
            <a href="http://www.twitter.com/wakolab" target="_blank">@wakolab</a></p>
          </div>
        </div>
      </div>

    </div>